*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/appInsightsSettings.xml
.DS_Store
/build
app/release
shared/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
keystore.properties
release.keystore
google-services.json
*.kt.copy
HISTORY.md